body {
  padding: 0;
  margin: 0;
  background-color: #0a0a0a;
  font-family: verdana;
}

/*Content div*/
.contentDiv {
  min-height: 100vh;
  padding-top: 75px;
  color: #efefef;
  overflow-y: auto;
}

.contentDivTitle {
  text-align: center;
  font-size: 5vh;
}

.contentDivTitleUnderline {
  height: .5vh;
  width: 50%;
  background-color: #efefef;
  margin: 0 auto;
  margin-bottom: 5vh;
}

/*About div*/
#aboutDiv {
  background-color: #0a0a0a;
}

#aboutName {
  font-size: 7vh;
}

#aboutTitle {
  font-size: 5vh;
}

#aboutService {
  font-size: 3vh;
}

#aboutContact {
  font-size: 2.5vh;
}

#aboutDivUnderline {
  background-color: #00cc66;
  width: 100%;
}

#aboutDivImage {
  background-image: url('../img/profileImage000.png');
  background-size: 50vh;
  height: 50vh;
  width: 50vh;
  border-radius: 15%;
}

#aboutDivRight {
  text-align: center;
  background-color: #0a0a0a;
}

#aboutGlyphiconFill {
  height: 20vh;
}

#aboutDivRight span {
  font-size: 8vh;
}

#aboutDivRight span:hover {
  color: #00cc66;
}

#aboutDivRight .rowSplit {
  height: 10vh;
  /*clear: both;*/
}

/*Resume div*/
#resumeDiv {
  background-color: #666666;
}