body {
  padding: 0;
  margin: 0;
  background-color: #0a0a0a;
  font-family: verdana;
}

/*Content div*/
.contentDiv {
  min-height: 100vh;
  padding-top: 75px;
  color: #efefef;
  overflow-y: auto;
  padding-bottom: 5vh;
}

.contentDivTitle {
  text-align: center;
  font-size: 5vh;
}

.contentDivTitleUnderline {
  height: .25vh;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5vh;
  margin-top: .5vh;
}

/*About div*/
#aboutDiv {
  background-color: #0a0a0a;
}

#aboutName {
  font-size: 7vh;
}

#aboutTitle {
  font-size: 5vh;
}

#aboutLocation {
  font-size: 4vh;
}

#aboutService {
  font-size: 3vh;
}

#aboutContact {
  font-size: 2.5vh;
}

#aboutDivUnderline {
  background-color: #00cc66;
  width: 25%;
}

#aboutDivLeft {
  margin-bottom: 5vh;
}

#aboutDivImage {
  background-image: url('../img/profileImage000.png');
  background-size: 30vh;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
}

#aboutDivRight {
  text-align: center;
  background-color: #0a0a0a;
}

#aboutGlyphiconFill {
  height: 20vh;
  font-size: 2.5vh;
  text-align: left;
  margin-bottom: 3vh;
}

#aboutDivRight span {
  font-size: 8vh;
  color: #00cc66;
}

#aboutDivRight span:hover {
  color: #008040;
  cursor: pointer;
}

.aboutSpanClicked {
  color: #004d26 !important;
}

#aboutDivRight .rowSplit {
  height: 10vh;
  clear: both;
}

/*Resume div*/
#resumeDiv {
  background-color: #0a0a0a;
}

#resumeDivUnderline {
  background-color: #ffcc00;
  width: 25%;
}

.resumeCol {
  text-align: center;
}

.resumeColTitle {
  font-size: 3.5vh;
}

.resumeColIcon {
  font-size: 7vh;
  color: #ffcc00;
}

.resumeColTitleUnderline {
  height: .25vh;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2.5vh;
  margin-top: .25vh;
  background-color: #ffcc00;
}

.resumeColContent {
  text-align: left;
  padding: 0 10%;
}

.resumeColContent ul {
  list-style: none;
}

.resumeColContent li {
  margin-top: 5vh;
}
.resumeColContent li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: '\e067';
  font-family: 'Glyphicons Halflings';
  float: left;
  margin-right: 2%;
  color: #ffcc00;
}
