body {
  padding: 0;
  margin: 0;
  background-color: #0a0a0a;
  font-family: verdana;
}

/*Content div*/
.contentDiv {
  min-height: 100vh;
  padding-top: 75px;
  color: #efefef;
  overflow-y: auto;
  padding-bottom: 5vh;
}

.contentDivTitle {
  text-align: center;
  font-size: 5vh;
}

.contentDivTitleUnderline {
  height: .425vh;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2vh;
  margin-top: .5vh;
}

/*About div*/
#aboutDiv {
  background-color: #0a0a0a;
}

#aboutName {
  font-size: 7vh;
}

#aboutTitle {
  font-size: 5vh;
}

#aboutLocation {
  font-size: 4vh;
}

#aboutService {
  font-size: 3vh;
}

#aboutContact {
  font-size: 2.5vh;
}

#aboutDivUnderline {
  background-color: #00cc66;
  width: 25%;
}

#aboutDivLeft {
  margin-bottom: 5vh;
}

#aboutDivImage {
  background-image: url('../img/profileImage000.png');
  background-size: 30vh;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
}

#aboutDivRight {
  text-align: center;
  background-color: #0a0a0a;
}

#aboutGlyphiconFill {
  height: 20vh;
  font-size: 2.5vh;
  text-align: left;
  margin-bottom: 3vh;
}

#aboutDivRight span {
  font-size: 8vh;
  color: #00cc66;
}

#aboutDivRight span:hover {
  color: #008040;
  cursor: pointer;
}

.aboutSpanClicked {
  color: #004d26 !important;
}

.rowSplit {
  clear: both;
}

#aboutDivRight .rowSplit {
  height: 10vh;
}

/*Resume div*/
#resumeDiv {
  background-color: #0a0a0a;
}

#resumeDivUnderline {
  background-color: #ffcc00;
  width: 25%;
}

.resumeCol {
  text-align: center;
  margin-bottom: 5vh;
}

.resumeColTitle {
  margin-top: 2vh;
  font-size: 3.5vh;
}

.resumeColIcon {
  font-size: 7vh;
  color: #ffcc00;
}

.resumeColTitleUnderline {
  height: .25vh;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2.5vh;
  margin-top: .25vh;
  background-color: #ffcc00;
}

.resumeColContent {
  text-align: left;
  padding: 0 10%;
}

.resumeColContent ul {
  list-style: none;
}

.resumeColContent li {
  display: table-row;
}
.resumeColContent li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  font-family: 'Glyphicons Halflings';
  padding-right: 5%;
  padding-top: 2.5%;
  color: #ffcc00;
  display: table-cell;
  text-align: right;
}
.resumeColContent li:after {
}

#educationList li:before {
  content: '\e233';
}

#experienceList li:before {
  content: '\e067';
}

.resumeColContent a,
.resumeColContent a:visited {
  color: #ffcc00;
}

.resumeSkillSection {
  text-align: center;
}

.resumeSkillHeader {
  font-size: 2.5vh;
  margin-bottom: 1vh;
}

.resumeSkillImage img{
  height: 100%;
  width: 100%;
  background-color: #efefef;
  border-radius: 5px;
  border: 2px solid #ffcc00;
}

.resumeSkillTitle {
  /*font-size: 2vh;*/
  font-size: 100%;
  color: #ffcc00;
}

#resumeDiv .rowSplit {
  height: 1vh;
}

#webDevDivUnderline {
  background-color: #33ccff;
  width: 25%;
}

#gameDevDivUnderline {
  background-color: #ff0066;
  width: 25%;
}